body{
    height: auto;
    background-image: linear-gradient(to right,rgb(195, 195, 239),rgb(184, 184, 248));
    margin-top: 1%;
    margin-left: 2%;
    font-family: sans-serif;
}
#txt{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-image: linear-gradient(to right,rgb(243, 129, 129),)rgb(73, 2, 2);
}

.direita{
position: fixed;
left: 50%;
top: 0px;
height: 100%;
width: 50%;
background-image: linear-gradient(to right,#b8b8f8,#5e5ef4);
padding: 20px;
border-left: 3px solid black;
}

.esquerda{
    height: auto;
    width: 50%;
    background-image: linear-gradient(to right,rgb(195, 195, 239),rgb(184, 184, 248));
    padding: 20px;
}

.ui text{
    padding-top: 5px;
}

#fundo_cinza{
    background-color: #292929;
    border: 5px #292929 solid;
    border-radius: 20px;
}

.ui.header.botao{
    color: aliceblue;
}

.ui.segment{
    background-color: #292929;
}

.ui.fluid.input{
    width: 500px;
}

.ui.footer{
    position: fixed;
    bottom: -3.5px;
    width: 100%;
    margin-left: -2%;
}

.ui.button.right{
    position: fixed;
    right: 9px;
}

.angle.right.icon{
    position: fixed;
    right: 19px;
}

.links{
    color: #1919de;
}

.ui.button.nav{
    color: #5e5ef4;
}